@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");
@media screen and (max-width: 1250px) {
  .content {
    max-width: 600px !important;
    width: 100% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .image {
    margin-right: 0 !important;
  }
  .image img {
    width: 100% !important;
    border-radius: 30px 30px 0 0 !important;
    margin-bottom: 5px !important;
  }

  .content__inner {
    max-width: 100% !important;
    border-radius: 0 0 30px 30px !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    padding: 5px;
  }
}
@media screen and (max-width: 625px) {
  .item {
    max-width: 100% !important;
  }
}
@media screen and (max-width: 625px) {
  .item {
    font-size: 22px;
  }
  .item .header .logo {
    width: 33px !important;
  }
  .item .header h2 {
    font-size: 30px !important;
  }
}
@media screen and (max-width: 590px) {
  .date .key, .edit .key {
    width: 155px !important;
  }
}
@media screen and (max-width: 590px) {
  .tech-stack .value {
    margin-left: 37px;
  }
}
@media screen and (max-width: 466px) {
  .item {
    font-size: 20px;
  }
  .item .date .key, .item .edit .key {
    width: 135px !important;
  }
  .item .header .logo {
    width: 31px !important;
  }
  .item .header h2 {
    font-size: 28px !important;
  }
}
@media screen and (max-width: 425px) {
  .item {
    font-size: 18px;
  }
  .item .date .key, .item .edit .key {
    width: 125px !important;
  }
  .item .date .value, .item .edit .value {
    word-spacing: 0.5px !important;
  }
  .item .header .logo {
    width: 29px !important;
  }
  .item .header h2 {
    font-size: 26px !important;
  }
}
@media screen and (max-width: 415px) {
  .item {
    font-size: 16px;
  }
  .item .date .key, .item .edit .key {
    width: 110px !important;
  }
  .item .header .logo {
    width: 27px !important;
  }
  .item .header h2 {
    font-size: 24px !important;
  }
}
@media screen and (max-width: 382px) {
  .date .value, .edit .value {
    margin-left: 37px;
  }
}
@media screen and (max-width: 326px) {
  .adaptive_supported .value, .adaptive_not-supported .value {
    margin-left: 37px;
  }
}