/*Null styling*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&family=Water+Brush&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #29539b;
  background-image: -o-linear-gradient(135deg, #29539b 0%, #1e3b70 74%);
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
  text-align: center;
  font-size: 50px;
  line-height: 70px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.container .container__text .link {
  font-family: "Open Sans", sans-serif;
}
.container .container__text .link .google {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 80px;
}
.container .container__text .link .google li:nth-child(3n+0) {
  color: #F7B529;
}
.container .container__text .link .google li:nth-child(2n+2) {
  color: #FF3E30;
}
.container .container__text .link .google li:nth-child(3n+1) {
  color: #176BEF;
}
.container .container__text .link .google li:nth-child(5n+0) {
  color: #179C52;
}
.container .container__text .link .ddg {
  font-size: 60px;
  background: url(../img/icons8-duckduckgo-64.png) 0px no-repeat;
  padding-left: 64px;
}
.container .container__text .link .ddg li {
  background: -webkit-linear-gradient(#1B6BFB, #C422FA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container .container__text p span {
  color: #DC84AE;
  font-family: "Water Brush", cursive;
  font-weight: 700;
}

.container .container__text .link .ddg, .container .container__text p span {
  -webkit-animation: hue 5s linear infinite;
          animation: hue 5s linear infinite;
}
@-webkit-keyframes hue {
  to {
    -webkit-filter: hue-rotate(1turn);
            filter: hue-rotate(1turn);
  }
}
@keyframes hue {
  to {
    -webkit-filter: hue-rotate(1turn);
            filter: hue-rotate(1turn);
  }
}

.container .container__text .link .google, .container .container__text .link .ddg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 432px) {
  .ddg li {
    font-size: 50px;
  }

  body {
    height: 100%;
  }
}{
  text-align: center;
  font-size: 14px;
  max-width: 688px;
  color: #05386B;
  font-weight: 400;
  line-height: 26px;
  margin: 0 auto;
}media screen and (max-width: 590px) {
  .tech-stack .value {
    margin-left: 37px;
  }
}
@media screen and (max-width: 466px) {
  .item {
    font-size: 20px;
  }
  .item .date .key, .item .edit .key {
    width: 135px !important;
  }
  .item .header .logo {
    width: 31px !important;
  }
  .item .header h2 {
    font-size: 28px !important;
  }
}
@media screen and (max-width: 425px) {
  .item {
    font-size: 18px;
  }
  .item .date .key, .item .edit .key {
    width: 125px !important;
  }
  .item .date .value, .item .edit .value {
    word-spacing: 0.5px !important;
  }
  .item .header .logo {
    width: 29px !important;
  }
  .item .header h2 {
    font-size: 26px !important;
  }
}
@media screen and (max-width: 415px) {
  .item {
    font-size: 16px;
  }
  .item .date .key, .item .edit .key {
    width: 110px !important;
  }
  .item .header .logo {
    width: 27px !important;
  }
  .item .header h2 {
    font-size: 24px !important;
  }
}
@media screen and (max-width: 382px) {
  .date .value, .edit .value {
    margin-left: 37px;
  }
}
@media screen and (max-width: 326px) {
  .adaptive_supported .value, .adaptive_not-supported .value {
    margin-left: 37px;
  }
}
.date:before {
  background-image: url("../img/calendar.png");
  background-size: 28px 28px;
  display: inline-block;
  width: 28px;
  height: 28px;
  content: "";
  margin-right: 0;
}
.date .key {
  margin-left: 5px;
  color: cyan;
  width: 165px;
}
.date .value {
  background: -webkit-gradient(linear, left top, left bottom, from(#0173CC), to(#0782D7));
  background: -o-linear-gradient(#0173CC, #0782D7);
  background: linear-gradient(#0173CC, #0782D7);
}

.edit:before {
  background-image: url("../img/calendar-edit.png");
  background-size: 28px 28px;
  display: inline-block;
  width: 28px;
  height: 28px;
  content: "";
  margin-right: 0;
}
.edit .key {
  margin-left: 5px;
  color: lime;
  width: 165px;
}
.edit .value {
  background: -webkit-gradient(linear, left top, left bottom, from(#1ECD13), to(#0EDB0F));
  background: -o-linear-gradient(#1ECD13, #0EDB0F);
  background: linear-gradient(#1ECD13, #0EDB0F);
}

.status_completed:before {
  background-image: url("../img/done.png");
  background-size: 28px 28px;
  display: inline-block;
  width: 28px;
  height: 28px;
  content: "";
  margin-right: 0;
}
.status_completed .key {
  margin-left: 5px;
  margin-right: 5px;
}
.status_completed .value {
  background: -o-linear-gradient(315deg, #69FF97 10%, #2EB62C 100%);
  background: linear-gradient(135deg, #69FF97 10%, #2EB62C 100%);
  background-size: 400% 400%;
  -webkit-animation: flip 5s ease infinite;
          animation: flip 5s ease infinite;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.status_not-completed:before {
  background-image: url("../img/not-done.png");
  background-size: 28px 28px;
  display: inline-block;
  width: 28px;
  height: 28px;
  content: "";
  margin-right: 0;
}
.status_not-completed .key {
  margin-left: 5px;
  margin-right: 5px;
}
.status_not-completed .value {
  background: -o-linear-gradient(315deg, #DB3445 10%, #F71735 100%);
  background: linear-gradient(135deg, #DB3445 10%, #F71735 100%);
  background-size: 400% 400%;
  -webkit-animation: flip 5s ease infinite;
          animation: flip 5s ease infinite;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.adaptive_supported:before {
  background-image: url("../img/responsive.png");
  background-size: 28px 28px;
  display: inline-block;
  width: 28px;
  height: 28px;
  content: "";
  margin-right: 0;
}
.adaptive_supported .key {
  margin-left: 5px;
  margin-right: 5px;
}
.adaptive_supported .value {
  background: -o-linear-gradient(315deg, #05D6D9 10%, #F907FC 100%);
  background: linear-gradient(135deg, #05D6D9 10%, #F907FC 100%);
  background-size: 400% 400%;
  -webkit-animation: flip 5s ease infinite;
          animation: flip 5s ease infinite;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.adaptive_not-supported:before {
  background-image: url("../img/static.png");
  background-size: 28px 28px;
  display: inline-block;
  width: 28px;
  height: 28px;
  content: "";
  margin-right: 0;
}
.adaptive_not-supported .key {
  margin-left: 5px;
  margin-right: 5px;
}
.adaptive_not-supported .value {
  background: -o-linear-gradient(315deg, #FFED00 10%, #FF0000 100%);
  background: linear-gradient(135deg, #FFED00 10%, #FF0000 100%);
  background-size: 400% 400%;
  -webkit-animation: flip 5s ease infinite;
          animation: flip 5s ease infinite;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.tech-stack:before {
  background-image: url("../img/techstack.png");
  background-size: 28px 28px;
  display: inline-block;
  width: 28px;
  height: 28px;
  content: "";
  margin-right: 0;
}
.tech-stack .key {
  margin-left: 5px;
  margin-right: 5px;
}
.tech-stack .value span:after {
  content: ",";
}
.tech-stack .value, .tech-stack span {
  margin-right: 5px;
}
.tech-stack .value span:last-child:after {
  content: ".";
}

.html {
  background: -o-linear-gradient(315deg, #E44D26 10%, #F16529 100%);
  background: linear-gradient(135deg, #E44D26 10%, #F16529 100%);
  background-size: 400% 400%;
  -webkit-animation: flip 5s ease infinite;
          animation: flip 5s ease infinite;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.html::before {
  background-image: url("https://cdn-icons-png.flaticon.com/512/1051/1051277.png");
  background-size: 28px 28px;
  display: inline-block;
  width: 28px;
  height: 28px;
  content: "";
  margin-right: 0;
}

.css {
  background: -o-linear-gradient(315deg, #214CE5 10%, #2465F1 100%);
  background: linear-gradient(135deg, #214CE5 10%, #2465F1 100%);
  background-size: 400% 400%;
  -webkit-animation: flip 5s ease infinite;
          animation: flip 5s ease infinite;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.css::before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/62/CSS3_logo.svg");
  background-size: 28px 28px;
  display: inline-block;
  width: 28px;
  height: 28px;
  content: "";
  margin-right: 0;
}

.sass {
  background: -o-linear-gradient(315deg, #BF4080 10%, #CF649A 100%);
  background: linear-gradient(135deg, #BF4080 10%, #CF649A 100%);
  background-size: 400% 400%;
  -webkit-animation: flip 5s ease infinite;
          animation: flip 5s ease infinite;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.sass::before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/96/Sass_Logo_Color.svg");
  background-size: 28px 28px;
  display: inline-block;
  width: 28px;
  height: 28px;
  content: "";
  margin-right: 0;
  margin-right: 2px;
}

.sass_item::before, .sass_item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#9435F2), color-stop(25%, #1B78F2), color-stop(50%, #27538C), color-stop(75%, #F2AC29), to(#F23030));
  background: -o-linear-gradient(left, #9435F2 0%, #1B78F2 25%, #27538C 50%, #F2AC29 75%, #F23030 100%);
  background: linear-gradient(to right, #9435F2 0%, #1B78F2 25%, #27538C 50%, #F2AC29 75%, #F23030 100%);
  background-size: 1200% 1200%;
  border-radius: 30px;
  -webkit-animation: flip 10s linear infinite;
          animation: flip 10s linear infinite;
}
.sass_item h2 {
  background: -o-linear-gradient(315deg, #BF4080 10%, #CF649A 100%);
  background: linear-gradient(135deg, #BF4080 10%, #CF649A 100%);
  background-size: 400% 400%;
  -webkit-animation: flip 5s ease infinite;
          animation: flip 5s ease infinite;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.pseudo-classes_elements_item::before, .pseudo-classes_elements_item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#034C8C), color-stop(25%, #020873), color-stop(50%, #8C4303), color-stop(75%, #F20505), to(#F2F2F2));
  background: -o-linear-gradient(left, #034C8C 0%, #020873 25%, #8C4303 50%, #F20505 75%, #F2F2F2 100%);
  background: linear-gradient(to right, #034C8C 0%, #020873 25%, #8C4303 50%, #F20505 75%, #F2F2F2 100%);
  background-size: 1200% 1200%;
  border-radius: 30px;
  -webkit-animation: flip 10s linear infinite;
          animation: flip 10s linear infinite;
}
.pseudo-classes_elements_item h2 {
  background: -o-linear-gradient(315deg, #00ffff 10%, #F20505 100%);
  background: linear-gradient(135deg, #00ffff 10%, #F20505 100%);
  background-size: 400% 400%;
  -webkit-animation: flip 5s ease infinite;
          animation: flip 5s ease infinite;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.travel-blog_item::before, .travel-blog_item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#592529), color-stop(25%, #4666A6), color-stop(50%, #88BFBA), color-stop(75%, #736848), to(#F2F2F2));
  background: -o-linear-gradient(left, #592529 0%, #4666A6 25%, #88BFBA 50%, #736848 75%, #F2F2F2 100%);
  background: linear-gradient(to right, #592529 0%, #4666A6 25%, #88BFBA 50%, #736848 75%, #F2F2F2 100%);
  background-size: 1200% 1200%;
  border-radius: 30px;
  -webkit-animation: flip 10s linear infinite;
          animation: flip 10s linear infinite;
}
.travel-blog_item h2 {
  background: -o-linear-gradient(315deg, #FF757C 10%, #15BDB1 100%);
  background: linear-gradient(135deg, #FF757C 10%, #15BDB1 100%);
  background-size: 400% 400%;
  -webkit-animation: flip 5s ease infinite;
          animation: flip 5s ease infinite;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  padding: 4px;
}

.gradient-statistics_item::before, .gradient-statistics_item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#F280B6), color-stop(25%, #AE4AD9), color-stop(50%, #6F23D9), color-stop(75%, #5214D9), to(#7FBF1F));
  background: -o-linear-gradient(left, #F280B6 0%, #AE4AD9 25%, #6F23D9 50%, #5214D9 75%, #7FBF1F 100%);
  background: linear-gradient(to right, #F280B6 0%, #AE4AD9 25%, #6F23D9 50%, #5214D9 75%, #7FBF1F 100%);
  background-size: 1200% 1200%;
  border-radius: 30px;
  -webkit-animation: flip 10s linear infinite;
          animation: flip 10s linear infinite;
}
.gradient-statistics_item h2 {
  background: -o-linear-gradient(315deg, #5AAAE7 10%, #FF5023 100%);
  background: linear-gradient(135deg, #5AAAE7 10%, #FF5023 100%);
  background-size: 400% 400%;
  -webkit-animation: flip 5s ease infinite;
          animation: flip 5s ease infinite;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.doo-layout_item::before, .doo-layout_item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#A7BAF2), color-stop(25%, #62D995), color-stop(50%, #A7F2C8), color-stop(75%, #D9933D), to(#F2F2F2));
  background: -o-linear-gradient(left, #A7BAF2 0%, #62D995 25%, #A7F2C8 50%, #D9933D 75%, #F2F2F2 100%);
  background: linear-gradient(to right, #A7BAF2 0%, #62D995 25%, #A7F2C8 50%, #D9933D 75%, #F2F2F2 100%);
  background-size: 1200% 1200%;
  border-radius: 30px;
  -webkit-animation: flip 10s linear infinite;
          animation: flip 10s linear infinite;
}
.doo-layout_item h2 {
  background: -o-linear-gradient(315deg, #64E5A6 10%, #ACBEFB 100%);
  background: linear-gradient(135deg, #64E5A6 10%, #ACBEFB 100%);
  background-size: 400% 400%;
  -webkit-animation: flip 5s ease infinite;
          animation: flip 5s ease infinite;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  padding: 4px;
}

body {
  padding: 25px;
  background-color: #040113;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}

.container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container .item {
  margin-bottom: 60px;
  position: relative;
}
.container .item:after {
  -webkit-filter: blur(30px);
          filter: blur(30px);
}
.container .item .content {
  z-index: 1;
  padding: 5px;
}
.container .item .content .image {
  margin-right: 5px;
}
.container .item .content .image img {
  width: 500px;
  border-radius: 30px 0 0 30px;
}
.container .item .content .content__inner {
  width: 700px;
  height: 255px;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.container .item .content .content__inner .header {
  margin-bottom: 10px;
}
.container .item .content .content__inner .header .logo {
  width: 35px;
  margin-right: 5px;
}
.container .item .content .content__inner .header h2 {
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-right: 5px;
}
.container .item .content .content__inner .properties {
  line-height: 36px;
}
.container .item .content .content__inner .properties .value {
  font-family: "Titillium Web", sans-serif;
}
.container .item .content .content__inner .properties .date .value, .container .item .content .content__inner .properties .edit .value {
  font-family: "Noto Sans Mono", monospace;
  word-spacing: -8px;
  line-height: 32px;
  padding: 0 10px;
  border-radius: 20px;
}
.container .item .content .content__inner .properties .date .value {
  color: #fff;
}
.container .item .content .content__inner .properties .edit {
  margin-bottom: 5px;
}
.container .item .content .content__inner .properties .edit .value {
  color: #000;
}
.container .item:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}