@use 'variables';

@mixin indent-left {
    .value {
        margin-left: 37px;
    }
}

@media screen and (max-width: 1250px) {
    .content {
        max-width: 600px !important;
        width: 100% !important;
        flex-direction: column;
    }
    .image {
        margin-right: 0 !important;
        img {
            width: 100% !important;
            border-radius: variables.$border variables.$border 0 0 !important;
            margin-bottom: 5px !important;
        }
    }
    .content__inner {
        max-width: 100% !important;
        border-radius: 0 0 variables.$border variables.$border !important;
        height: fit-content !important;
        padding: 5px;   
    }
}

@media screen and (max-width: 625px) {
    .item {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 625px) {
    .item {
        font-size: variables.$default-font_size+(-2);
        .header {
            .logo {
                width: variables.$logo_size+(-2) !important;
            }
            h2 {
                font-size: variables.$title-font_size+(-2) !important;
            }
        }
    }
}
@media screen and (max-width: 590px) {
    .date, .edit {
        .key {
            width: 155px !important;
        }
    }
}

@media screen and (max-width: 590px) {
    .tech-stack {
        @include indent_left;
    }
}

@media screen and (max-width: 466px) {
    .item {
        .date, .edit {
            .key {
                width: 135px !important;
            }
        }
        font-size: variables.$default-font_size+(-4);
        .header {
            .logo {
                width: variables.$logo_size+(-4) !important;
            }
            h2 {
                font-size: variables.$title-font_size+(-4) !important;
            }
        }
        variables.$icon_size: variables.$icon_size+(-4);
    }
}

@media screen and (max-width: 425px) {
    .item {
        .date, .edit {
            .key {
                width: 125px !important;
            }
            .value {
                word-spacing: 0.5px !important;
            }
        }
        font-size: variables.$default-font_size+(-6);
        .header {
            .logo {
                width: variables.$logo_size+(-6) !important;
            }
            h2 {
                font-size: variables.$title-font_size+(-6) !important;
            }
        }
    }
}

@media screen and (max-width: 415px) {
    .item {
        .date, .edit {
            .key {
                width: 110px !important;
            }
        }
        font-size: variables.$default-font_size+(-8);
        .header {
            .logo {
                width: variables.$logo_size+(-8) !important;
            }
            h2 {
                font-size: variables.$title-font_size+(-8) !important;
            }
        }
    }
}

@media screen and (max-width: 382px) {
    .date, .edit {
        @include indent-left();
    }
}

@media screen and (max-width: 326px) {
    .adaptive_supported, .adaptive_not-supported {
        @include indent-left();
    }
}