@use 'variables.scss';
@import 'extends_keyframes_mixins.scss';
@import 'null_style.scss';
@import 'media_queries.scss';
@import 'headers_properties.scss';
@import 'item_style.scss';

body {
    padding: 25px;
    background-color: #040113;
    color: #fff;
    font-family: variables.$default-font, variables.$default-font_category;
    font-size: variables.$default-font_size;
    
}

.container {
    @extend %flex;
    flex-direction: column;
    .item {
        @extend %flex;
        margin-bottom: 60px;
        position: relative;
        &:after {
            filter: blur(30px);
        }
        .content {
        @extend %flex;
        z-index: 1;
        padding: 5px;
            .image {
                margin-right: 5px; 
                img {
                    width: variables.$img_width;
                    border-radius: variables.$border 0 0 variables.$border;
                }
            }
            .content__inner {
                width: variables.$content_inner_width;
                height: 255px;
                padding: 10px;
                border-radius: 0 variables.$border variables.$border 0;
                background-color: rgba(0,0,0,0.6);
                .header {
                    @extend %flex;
                    margin-bottom: 10px;
                    .logo {
                        width: variables.$logo_size;
                        margin-right: 5px;
                    }
                    h2 {
                        color: #fff;
                        font-family: variables.$title-font, variables.$title-font_category;
                        font-size: variables.$title_font-size;
                        font-weight: 700;
                    }
                }
                .properties {
                    line-height: 36px;                    
                    .value {
                        font-family: variables.$value-font, variables.$value-font_category;
                    }

                    .date, .edit {
                        .value {
                            font-family: variables.$date-font, variables.$date-font_category;
                            word-spacing: -8px;
                            line-height: 32px;
                            padding: 0 10px;
                            border-radius: 20px;
                        }
                    }
                    .date {
                        .value {
                            color: #fff;
                        }
                    }
                    .edit {
                        .value {
                            color: #000;  
                        }
                        margin-bottom: 5px;
                    }   
                }

            }
        }
        &:hover {
            transform: translateY(-5px);
            transition: transform 0.5s;
        }
    }
}