
//Structure
$content_inner_width: 700px;
$img_width: 500px;
$border: 30px;

//Font:
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');


$default-font: 'Open Sans';
$default-font-category: sans-serif;
$default-font-size: 24px;

$logo_size: 35px;
$icon_size: 32px;
$title-font: 'Titillium Web';
$title-font-category: sans-serif;
$title-font_size: 32px;


$value-font: 'Titillium Web';
$value-font-category: sans-serif;
$value-font_size: 32px;

$date-font: 'Noto Sans Mono';
$date-font-category: monospace;
$date-font_size: 32px;









